@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Oswald:wght@200;400&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500&family=Xanh+Mono:ital@0;1&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background:url(./58757a184bfd4eb19a20e94d84b584be.jpg) ;
    background-size:cover;
}
#main{
    width:60%;
    height:100px;
    background-color:white;
    text-align:center;
    float:left;
    margin:40px 10px 0 150px;
}
#head{
    background-color:black;
    width:100%;
    height:55px;
    color:white;
    padding:10px;
    margin-bottom:60px;
}
#main input{
    height:30px;
    width:95px;
    margin-bottom :10px;
    font-size:20px;
}
#main label{
    font-size:23px;
    padding-right:10px;
    margin-bottom:10px;
}

.btn1{
   /*outline:none;*/
    border-radius:12px;
    width:7px;
    height:7px;
    margin-right:90px;
    margin-top:50px;
    font-size:22px;
    background-color: #bf3040;   
}
.btn2{
    /* outline:none; */
    border-radius:12px;
    width:7px;
    height:7px;
    font-size:22px;
    background-color:#bf3040;
    margin-right:90px;
    margin-top:50px;
}
.btn3{
    /* outline:none; */
    border-radius:12px;
    width:7px;
    height:7px;
    background-color:#bf3040;
    margin-top: 50px;
    font-size:22px;
    margin-left: 20px;
    
}
#result{
    height:400px;
    width:110px;
    float:left;
    margin-top:40px;
    background-color: white;
}
#head1,#head2,#head3{
    background-color: black;
    width: 140px;
    height:45px;
    color:white;
    text-align:center;
}
#total{
    height:280px;
    width:140px;
    padding:20px;
    background-color: white;
    font-size:13px;
    font-weight:600;
    word-spacing:30px;
}
#grade{
    height:6s0px;
    width:140px;
    padding:20px;
    font-size:13px;
    font-weight: 600;
    background-color: white;
}
#average{
    height:80px;
    width:140px;
    padding:20px;
    font-size:13px;
    font-weight:600;
    background-color:white;
}